* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border-bottom: 16px solid #2b152d;
    background-color: #7a355a;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
    padding: 0px 16px;
}

form {
    background-color: #c8d6e5;
    text-align: center;
    padding: 24px 0;
    display: none;
}

form button, input  {
    margin-top: 16px;
    padding: 8px;
    border-radius: 10px;
}

button {
    background-color: green;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border-bottom: 3px solid #000;
    transition: all 0.25s ease;
}

button:hover {
    transition: all 0.18s ease;
    transform: translate(0px, -1px);
}

#endereco-imagem-nova:hover {
    box-shadow: 0px 0px 10px #fff;
}

#add-btn:hover {
    box-shadow: 0px 0px 5px green;
}

#botao-cancelar {
    background-color: red;
}

#botao-cancelar:hover {
    box-shadow: 0px 0px 5px red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden; /*Tudo que passar de 280px é ocultado */
}

ul li img {
    width: 100%;
}

.overlay-img-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 0.45s;
}

.overlay-img-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-img-link {
    opacity: 1;
}



